# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
out/
*.iml
/buffered_copy.dat
/unbuffered_copy.dat
/employee.csv
/employees.ser
/ipl.csv
/ipl.json
/ipl_censored.csv
/ipl_censored.json
/students.csv
/user_details.txt